:root {
  --lightgray: #efefef;
  --blue: steelblue;
  --white: #fff;
  --black: rgba(0, 0, 0, 0.8);
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
  
}


.bg-white {
  background-color: #fff;
}
*{font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: rgb(86, 193, 255);
  color: white;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: white;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgb(2, 161, 253);
  color: white;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  height: 100vh;
}
/*CUSTOM VARIABLES HERE*/
.col {
  display:flex;
  flex-direction:column;
}
.gap-4 {
  gap: 4px;
}

.p-4 {
  padding: 4px;
}

.m-auto {
  margin:auto;
}

.w-60{
  width:60%;
}

.w-30{
  width:30%;
}

.row {
  display: flex;
  flex-direction: row;
}

.w-full {
  width: 100%;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.container {
  border-width: thin;
  border: groove;
  border: 1px solid #ccc;
}

.rounded-sm {
  border-radius: 5px;
}

.deleted {
  display:none;
}

.secondary-text {
  color:#495255;
  font-size: small;
}

.overflow-scroll {
  position: sticky;
  overflow: scroll;
  height: auto;
}

.title {
  font-weight: bold;
  margin: 0;
}

.text-white {
  color: white;
}
.text-black {
  color: #212121;
}

.hidden{
  
  /*display: none;*/
  visibility: hidden;
}
span{
  font-weight: bold;
}

.description {
 font-weight: normal; 
 margin: 0;
}

.toast-container{
    position: fixed;
    place-content: end;
    display: flex;
}

.hover\:primary:hover {
  opacity: 0.75;
 /* background-color: #212121;*/
}

.hover\:secondary:hover {
  opacity: 0.75;
 /* background-color: #212121;*/
}
.z-100 {
  z-index: 100;
}
.text-blue {
  color:rgb(2, 161, 253);
}
.primary{
  color: white;
  border: none;
  padding: 6px;
  background-color: rgb(2, 161, 253);
}
.secondary {
  background-color: #eee;
  border: none;
  padding: 6px;
  color: rgb(2, 161, 253);
}

#donecounter, #todocounter{
  margin-left: 2px;
}

.text-sm {
  font-size:x-small;
  margin: 0;
}

.mt-10 {
  margin-top: 10px;
}

.elementFadeIn {
    /*  made-by-luis reyes */
    -webkit-animation: fadeIn 0.5s ease ;
    animation: fadeIn 0.5s ease ;
  }
  @keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity : 1 }
  }